
.back{
  background: url(https://hips.hearstapps.com/ghk.h-cdn.co/assets/15/33/1439490128-plants.jpg);
   padding: 16px;
  text-shadow: 0 2px 3px rgba(0,0,0,0.75);
}
.back img{
  width:200px;
  border-radius:50%;
}



img{
  width:600px;
border-radius:25%;
}
body{
  font-family: 'Raleway', sans-serif;
  text-align:center;
  background:rgb(255, 255, 255);
}


.top{

  text-align:center;
  color:white;
  background: url(https://dictionary.cambridge.org/us/images/thumb/brown_noun_001_01948.jpg?version=5.0.94);
}

.img{
  background: url(https://thumbs.dreamstime.com/z/texture-sidewalk-tiles-sunny-day-city-garden-95395863.jpg);
}
.lol{
  background: url(https://thumbs.dreamstime.com/z/texture-sidewalk-tiles-sunny-day-city-garden-95395863.jpg);
}
.hah{
   display: flex;
}
.hah img{
   border: 1px solid blue;
    width: 350px;
}
  
  .container{

max-width:700px;
margin:0 auto;
  }
  .container img{
    
    
    width:300px;
  }
  
 [data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }
  .yah img{
    width:400px;
  }
  .border{
 
  background: url("download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  max-width:300px;
  border-radius: 999px;
  transition: transform .2s ease;
}
img:hover {
  transform: scale(1.125);
}
  
  